{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
    .card-header {
        text-align: center;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block title %} Tasks {% endblock %}
{% block content %}
<main>

    <div class="sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <div class="container-fluid mt-1 mb-1">
                <a href="/" class="text-decoration-none mb-0">
                    <span class="fs-4">Menu</span>
                </a>
            </div>
            <hr class="mt-0 mb-0">
            <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'tasks' %}" class="nav-link active">Task List</a>
            </li>
        </ul>
    </div>

    <div class="main-content dashboard">
        <h1>TASKS LIST</h1>
        <div class="controls">
            <button id="btnNew" class="btn btn-primary" data-toggle="modal" data-target="#newTaskModal">New</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-lg" id="taskTable" url-save-task="{% url 'save_task' %}">
                {% include 'task_table.html' %}

            </table>
        </div>

    </div>

</main>

<div class="modal fade" role="dialog" id="taskModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="action"></span> Task</h5>
            </div>
            <div class="modal-body">
                <form action="" id="taskForm">
                    {% csrf_token %}
                    <input type="hidden" name="action">
                    <input type="hidden" name="taskId">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input class="form-control" type="text" name="title" id="title" placeholder="Type a title..." required>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea class="form-control" name="description" id="description" cols="30" rows="7" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Category</label>
                        <select class="form-control" name="category" id="category" required>
                            <option value="" selected="true" disabled>Select a category...</option>
                            {% for k,v in categories.items %}
                            <option value="{{k}}">{{v}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <div class="actions">
                        <button id="btnSave" class="btn btn-primary">Save</button>
                        <button id="btnCancel" class="btn btn-secondary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="deleteModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Task</h5>
            </div>
            <div class="modal-body">
                <form action="" id="deleteForm">
                    {% csrf_token %}
                    <input type="hidden" name="taskId">
                    <p>Please confirm to delete this task.</p>

                    <ul>
                        <li>
                            ID: <span id="taskId"></span>
                        </li>
                        <li>
                            Title: <span id="taskTitle"></span>
                        </li>
                    </ul>

                    <hr>
                    <div class="actions">
                        <button id="btnDeleteTask" class="btn btn-danger">Delete</button>
                        <button id="btnCancelDelete" class="btn btn-secondary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/tasklist.js' %}"></script>
{% endblock %}